[Unit]
Description=Minecraft Server Vanilla
After=local-fs.target network.target
Wants=local-fs.target network.target

[Service]
WorkingDirectory=/home/minecraft/server-vanilla
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=minecraft
User=minecraft
Group=minecraft
Type=simple

ExecStart=/usr/bin/java -Djline.terminal=jline.UnsupportedTerminal -Xmx1024M -Xms1024M -jar server.jar nogui
ExecStop=/usr/local/bin/mcrcon -H 127.0.0.1 -P 25575 -p YOUR_RCON_PASSWORD save-all stop
ExecReload=/usr/local/bin/mcrcon -H 127.0.0.1 -P 25575 -p YOUR_RCON_PASSWORD reload

[Install]
WantedBy=multi-user.target
